cdc.debezium.enabled=true
cdc.debezium.mode=KAFKA
cdc.debezium.serverName=dbz_hotel_supply
cdc.debezium.useSinkConnector=true

cdc.debezium.kafkaConfiguration.connectUrl=http://localhost:8083
cdc.debezium.kafkaConfiguration.topic=dbz_hotel_supply.public.unified_system_parameter
cdc.debezium.kafkaConfiguration.bootstrapServers=localhost:9092
cdc.debezium.kafkaConfiguration.groupId=my-group
cdc.debezium.kafkaConfiguration.pollIntervalMs=1000

cdc.debezium.sourceConfiguration.postgresHost=localhost
cdc.debezium.sourceConfiguration.postgresPort=5432
cdc.debezium.sourceConfiguration.postgresUser=postgres
cdc.debezium.sourceConfiguration.postgresPassword=password
cdc.debezium.sourceConfiguration.postgresDbName=mydb
cdc.debezium.sourceConfiguration.postgresTableIncludeList=unified_system_parameter
cdc.debezium.sourceConfiguration.slotName=debezium_slot

cdc.debezium.targetConfiguration.mongoUri=mongodb://localhost:27017
cdc.debezium.targetConfiguration.mongoDatabase=mydb
cdc.debezium.targetConfiguration.mongoCollection=parameters
cdc.debezium.targetConfiguration.postgresUrl=jdbc:postgresql://localhost:5432/targetdb
cdc.debezium.targetConfiguration.postgresUser=postgres
cdc.debezium.targetConfiguration.postgresPassword=password
cdc.debezium.targetConfiguration.postgresTable=unified_system_parameter

cdc.debezium.workerConfiguration.enableLocalMemory=true
cdc.debezium.workerConfiguration.initialDelaySec=10
cdc.debezium.workerConfiguration.periodSec=60
cdc.debezium.workerConfiguration.enableRealtimeListener=true
